hr {
	border-top: 1px solid #ccc;
	width: 75%;
}
/* Paginator */
.step-links a {
	font-size: 125%;
}
.step-links a:hover {
	text-decoration: none;
	color: red;
}
.current {
	padding: 0 0.5em;
}
.jumbotron .label {
	margin: 0.2em;
}
a.a_label:hover {
	text-decoration: none;
}
.container .jumbotron .btn {
	/*font-weight: bold;*/
	font-size: 80%;
	padding: 0.1em 0.2em;
}

.tags_col {

}

/* Container */
@media (min-width: 768px) {
	.container {
	    max-width: 90%;
	}
}

@media (min-width: 1200px){
	.container {
	    width: 90%;
	}
}
