{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Vostok Test Site</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="{% static 'css/bootstrap/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'css/bootstrap/jumbotron-narrow.css' %}" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="{% static 'js/bootstrap/ie8-responsive-file-warning.js' %}"></script><![endif]-->
	<script src="{% static 'js/bootstrap/ie-emulation-modes-warning.js' %}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	{% block style %}{% endblock %}
</head>

<body>

<div class="container">
	<div class="header clearfix">
		<div class="navbar-right">
			{% block header_right %}{% endblock %}
		</div>
		<h3 class="text-muted">
			{% if not main %}<a href="{% url 'account' %}">{% endif %}
			{% block pagename %}Vostok Test Site{% endblock %}
			{% if not main %}</a>{% endif %}
		</h3>
	</div>

	{% block jumbotron %}{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}
	<footer class="footer">
		<p>&copy; 2016 Pavel Romanchenko</p>
	</footer>
	{% endblock %}

</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/bootstrap/ie10-viewport-bug-workaround.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
