{% extends 'base.html' %}
{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-2">
			<h2>Photos</h2>
			<div><a href="#">Выбрать теги исключения</a></div>
		</div>
		<div class="col-md-10">
			{# Выбранные теги #}
			{% if tags_filter %}
				{% for tag in tags_filter %}
					<a href="?{% if page %}page={{ page }}&{% endif %}tag={% for i in tags_filter %}{% if tag.id != i.id %}{{ i.id }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}" class="a_label">
						<span class="label label-default">{{ tag.name }}</span>
					</a>
				{% endfor %}
				<hr color="#000">
			{% endif %}
			{# Доступные теги #}
			{% for tag in tags_remain %}
				<a href="?{% if page %}page={{ page }}&{% endif %}tag={% for i in tags_filter %}{{ i.id }},{% endfor %}{{ tag.id }}" class="a_label">
					<span class="label label-primary">
						{{ tag.name }}
					</span>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
	<tr>
		<th width="5%">#</th>
		<th width="45%">URL</th>
		<th width="30%">Tags</th>
		<th width="5%">Likes</th>
		<th width="15%">Date</th>
	</tr>
	</thead>
	<tbody>
		{% for row in photos_table %}
			<tr>
				<td scope="row">{{ row.id }}</td>
				<td><a href="{{ row.url }}">{{ row.url }}</a></td>
				<td>
					{% if row.tags.count %}
						{% for tag in row.tags.all %}
							<span class="label label-primary">{{ tag.name }}</span>
						{% endfor %}
					{% endif %}
				</td>
				<td></td>
				<td>{{ row.created_datetime|date:"d.m.Y H:i:s" }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pagination">
    <span class="step-links">
		{# Стрелка на предыдущую страницу #}
        {% if photos_table.has_previous %}
            <a href="?page={{ photos_table.previous_page_number }}{% if tags_filter %}&tag={% for i in tags_filter %}{{ i.id }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"><=</a>
        {% endif %}

        <span class="current">
            Page {{ photos_table.number }} of {{ photos_table.paginator.num_pages }}
        </span>

		{# Стрелка на следующую страницу #}
        {% if photos_table.has_next %}
            <a href="?page={{ photos_table.next_page_number }}{% if tags_filter %}&tag={% for i in tags_filter %}{{ i.id }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}">=></a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
{% endblock %}
