{% extends 'base.html' %}
{% load staticfiles %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-2">
			<h2>Photos</h2>
		</div>
		<div class="col-md-10">
			<form method="get">{% csrf_token %}
				<div>
					<label><input type="radio" name="action_type" value="filter" checked/> Тег для фильтрации</label>
					<label><input type="radio" name="action_type" value="exclude"/> Тег для исключения</label>
				</div>
				{# Выбранные теги #}
				<div class="row">
					<div class="col-md-6">
						{% if tags_filter %}
							{% for tag in tags_filter %}
								<button class="btn btn-default btn-xs" name="un_tag" value="{{ tag.id }}">
									{{ tag.name }}
								</button>
							{% endfor %}
						{% endif %}
					</div>
					<div class="col-md-6">
						{% if tags_exclude %}
							{% for tag in tags_exclude %}
								<button class="btn btn-warning btn-xs" name="un_tag" value="{{ tag.id }}">
									{{ tag.name }}
								</button>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<hr>
				{# Доступные теги #}
				{% for tag in tags_remain %}
					<button class="btn btn-primary btn-xs" name="tag" value="{{ tag.id }}">{{ tag.name }}</button>
				{% endfor %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
	<tr>
		<th width="5%">#</th>
		<th width="45%">URL</th>
		<th width="30%">Tags</th>
		<th width="5%"><a href="?sorting=likes">Likes</a></th>
		<th width="15%"><a href="?sorting=date">Date</a></th>
	</tr>
	</thead>
	<tbody>
		{% for row in page_obj %}
			<tr>
				<td scope="row">{{ row.id }}</td>
				<td><a href="{{ row.url }}">{{ row.url }}</a></td>
				<td>
					{% if row.tags.count %}
						<small>
						{% for tag in row.tags.all %}
							{{ tag.name }}{% if not forloop.last %},{% endif %}
						{% endfor %}
						</small>
					{% endif %}
				</td>
				<td>{{ row.likes.count }}</td>
				<td>{{ row.created_datetime|date:"d.m.Y H:i:s" }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
		{# Стрелка на предыдущую страницу #}
        {% if page_obj.has_previous %}
            <a href="/page-{{ page_obj.previous_page_number }}/"><=</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

		{# Стрелка на следующую страницу #}
        {% if page_obj.has_next %}
            <a href="/page-{{ page_obj.next_page_number }}/">=></a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
	<script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
{% endblock %}
